<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf">
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
    <link href="//db.onlinewebfonts.com/c/c68e21ad1a10803b1ef491fd0392b067?family=SB+Sans+Text" rel="stylesheet"
          type="text/css"/>
    <link rel="stylesheet" href="/css/style.css" type="text/css">

    <header th:insert="~{navbar :: navbar}"></header>

</head>
<body class="background-style">
<div class="table-state font-style font-color text-decoration-none nav-link-active formWrapper">
    <form th:method="get" th:action="@{/peers}" style="float:left;">
        <input class="table-button margin-table" type="submit" value="Peers">
    </form>

    <form th:method="get" th:action="@{/checks}" style="float:left;">
        <input class="table-button margin-table" type="submit" value="Checks">
    </form>

    <form th:method="get" th:action="@{/friends}" style="float:left;">
        <input class="table-button margin-table" type="submit" value="Friends">
    </form>

    <form th:method="get" th:action="@{/p2p}" style="float:left;">
        <input class="table-button margin-table" type="submit" value="P2P">
    </form>

    <form th:method="get" th:action="@{/recommendations}" style="float:left;">
        <input class="table-button margin-table" type="submit" value="Recommendations">
    </form>

    <form th:method="get" th:action="@{/tasks}" style="float:left;">
        <input class="table-button margin-table" type="submit" value="Tasks">
    </form>

    <form th:method="get" th:action="@{/timeTracking}" style="float:left;">
        <input class="table-button margin-table" type="submit" value="Time Tracking">
    </form>

    <form th:method="get" th:action="@{/transferredPoints}" style="float:left;">
        <input class="table-button margin-table" type="submit" value="Transferred Points">
    </form>

    <form th:method="get" th:action="@{/verter}" style="float:left;">
        <input class="table-button margin-table" type="submit" value="Verter">
    </form>

    <form th:method="get" th:action="@{/xp}" style="float:left;">
        <input class="table-button margin-table" type="submit" value="XP">
    </form>

</div>

</body>
</html>