<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet"
          type="text/css"/>
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{css/style.css}" type="text/css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">

</head>
<body class="background-style">
<div class="table-state font-style font-color text-decoration-none nav-link-active formWrapper">
    <!--  <li class="nav-link-active">-->
    <form th:method="get" th:action="@{/peers}" style="float:left;">
        <input class="table-button margin-table" type="submit" value="Peers">
    </form>



</div>

</body>
</html>