<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf">
<head>
    <meta charset="UTF-8">
    <title>Info</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
    <link href="//db.onlinewebfonts.com/c/c68e21ad1a10803b1ef491fd0392b067?family=SB+Sans+Text" rel="stylesheet"
          type="text/css"/>
    <link rel="stylesheet" href="/css/style.css" type="text/css">

    <header th:insert="~{navbar :: navbar}"></header>
</head>
<body>

<form th:method="get" th:action="@{/all_tables}" class="margin">
    <input class="margin-t input-home" type="submit" value="Show all tables">
</form>

<form th:method="get" th:action="@{/procedures}" class="margin">
    <input type="submit" class="input-home" value="All procedures">
</form>

</body>
</html>