<div th:fragment="navbar">
    <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom"
         style="background-color: #1D2633">
        <a href="/main" class="d-flex align-items-center text-dark text-decoration-none">
            <span class="fs-3 navbar-style" style="margin-left: 60px">INFO 21</span>
        </a>

        <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
            <a class="me-3 py-2 navbar-style text-decoration-none" href="/main">Главная</a>
            <a class="me-3 py-2 navbar-style text-decoration-none" href="/all_tables"> Все таблицы </a>
            <a class="me-3 py-2 navbar-style text-decoration-none" href="/procedures"> Функции </a>
        </nav>
    </div>
</div>