<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
    <link href="//db.onlinewebfonts.com/c/c68e21ad1a10803b1ef491fd0392b067?family=SB+Sans+Text" rel="stylesheet"
          type="text/css"/>
    <link rel="stylesheet" href="../../static/css/style.css" th:href="@{css/style.css}" type="text/css">
</head>
<body>
<header th:insert="~{navbar :: navbar}"></header>

<!--<div th:insert="~{table_navbar :: table_navbar}"></div>-->
<div th:fragment="table_navbar">
    <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom"
         style="background-color: #1D2633">

        <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
            <a href="/data" class="u-align-center-lg u-align-center-xl u-align-left-md u-align-left-sm u-align-left-xs u-border-none
                u-btn u-btn-round u-button-style u-custom-item u-hover-feature u-hover-grey-5 u-none
                u-text-hover-custom-color-1 u-btn-1"><span
                    class="u-file-icon u-grey-5 u-icon u-icon-1"><img src="/images/back-image.png"
                                                                      alt="" width="50"></span>&nbsp;назад
            </a>
            <a class="me-3 py-2 navbar-style text-decoration-none" href="/import">Импорт</a>
            <a class="me-3 py-2 navbar-style text-decoration-none" href="/all_tables"> Экспорт </a>
            <a class="me-3 py-2 navbar-style text-decoration-none" href="/procedures"> Добавить </a>


        </nav>
    </div>
</div>

<table class="container">
    <tr>
        <td class="col2">Nickname</td>
        <td class="col2">Birthday</td>
        <td class="col2"></td>
        <td class="col2"></td>
    </tr>
    <tr th:each="peer : ${peers}">
        <td class="col1" th:text="${peer.getNickname()}"></td>
        <td class="col1" th:text="${peer.getBirthday()}"></td>
        <td>
            <form th:method="POST" th:action="@{/peers/update/__${peer.getNickname()}__}">
                <input class="input-home " type="submit" value="Update"/>
            </form>
        </td>
        <td>
            <button class="input-home" data-toggle="modal"
                    th:attr="data-target='#deleteDialog' + ${peer.getNickname()}">
                Delete
            </button>
            <div class="modal fade" th:attr="id='deleteDialog'+${peer.getNickname()}" tabindex="-1"
                 role="dialog"
                 aria-labelledby="deleteModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="deleteModalLabel">Удаление данных</h5>
                        </div>
                        <div class="modal-body">
                            <div th:text="'Вы действительно хотите удалить ' +${peer.getNickname()} + '?'"/>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="button" data-dismiss="modal">Close
                            </button>
                            <form th:method="POST" th:action="@{/peers/delete/__${peer.getNickname()}__}">
                                <input class="input-home" type="submit" value="Delete"/>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </td>
    </tr>
    <tr>
        <th>
            <form th:method="get" th:action="@{/peers/add}">
                <input class="input-home margin-t" type="submit" value="Add peer">
            </form>
        </th>
    </tr>

</table>
<!--<div th:insert="~{inner_scripts/scripts :: scripts}"></div>-->
</body>
</html>