<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
    <link href="//db.onlinewebfonts.com/c/c68e21ad1a10803b1ef491fd0392b067?family=SB+Sans+Text" rel="stylesheet"
          type="text/css"/>
    <link rel="stylesheet" href="../../static/css/style.css" th:href="@{css/style.css}" type="text/css">
</head>
<body>
<header th:insert="~{navbar :: navbar}"></header>

<!--<div th:insert="~{table_navbar :: table_navbar}"></div>-->
<div th:fragment="table_navbar">
    <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom"
         style="background-color: #1D2633">

        <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
            <a href="/data" class="u-align-center-lg u-align-center-xl u-align-left-md u-align-left-sm u-align-left-xs u-border-none
                u-btn u-btn-round u-button-style u-custom-item u-hover-feature u-hover-grey-5 u-none
                u-text-hover-custom-color-1 u-btn-1"><span
                    class="u-file-icon u-grey-5 u-icon u-icon-1"><img src="/images/back-image.png"
                                                                      alt="" width="50"></span>&nbsp;назад
            </a>
            <a class="me-3 py-2 navbar-style text-decoration-none" href="/import">Импорт</a>
            <a class="me-3 py-2 navbar-style text-decoration-none" href="/all_tables"> Экспорт </a>
            <a class="me-3 py-2 navbar-style text-decoration-none" href="/procedures"> Добавить </a>


        </nav>
    </div>
</div>

<table class="container">
    <tr>
        <td class="col2">Nickname</td>
        <td class="col2">Birthday</td>
        <td class="col2">Обновить</td>
        <td class="col2">Удалить</td>
    </tr>

    <tr th:each="peer : ${peers}">
        <td class="col1" th:text="${peer.nickname}"></td>
        <td class="col1" th:text="${peer.birthday}"></td>
        <td>
            <button type="button" class="input-home" data-toggle="modal" data-target="#updateModal+${peer.id}"
                    th:data-id="${peer.id}" th:data-nickname="${peer.nickname}" th:data-birthday="${peer.birthday}"
            >Update
            </button>
        </td>

        <td>
            <!--            <button type="button" class="input-home" data-toggle="modal" data-target="#deleteModal"-->
            <!--                    data-nickname="${peer.getNickname()}">-->
            <!--                Delete-->
            <!--            </button>-->

            <!--            &lt;!&ndash; Модальное окно для подтверждения удаления &ndash;&gt;-->
            <!--            <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"-->
            <!--                 aria-hidden="true">-->
            <!--                <div class="modal-dialog" role="document">-->
            <!--                    <div class="modal-content">-->
            <!--                        <div class="modal-header">-->
            <!--                            <h5 class="modal-title" id="deleteModalLabel">Delete Peer</h5>-->
            <!--                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
            <!--                                <span aria-hidden="true">&times;</span>-->
            <!--                            </button>-->
            <!--                        </div>-->
            <!--                        <div class="modal-body">-->
            <!--                            <form th:method="POST" th:action="@{/peers/delete}">-->
            <!--                                <p>Are you sure you want to delete this peer?</p>-->
            <!--                                <input type="hidden" id="deleteNickname" name="deleteNickname"-->
            <!--                                       th:value="${peer.getNickname()}">-->
            <!--                                <button type="submit" class="btn btn-danger">Yes</button>-->
            <!--                                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>-->
            <!--                            </form>-->
            <!--                        </div>-->
            <!--                    </div>-->
            <!--                </div>-->
            <!--            </div>-->
        </td>
    </tr>

    <td>
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#addPeerModal">
            Add New Peer
        </button>
    </td>
</table>

<script th:inline="javascript">
    $(document).ready(function () {
        // Обработчик события открытия модального окна
        $('button.input-home').click(function () {
            var id = $(this).data('id');
            var nickname = $(this).data('nickname');
            var birthday = $(this).data('birthday');

            // Установка значений в форму
            $('#updatedId').val(id);
            $('#updatedNickname').val(nickname);
            $('#updatedBirthday').val(birthday);
        });

        // Обработчик события отправки формы
        $('#updateForm').submit(function (event) {
            // Ваш код обработки формы, если необходимо
            // ...
        });
    });




</script>

<!-- Модальное окно для добавления нового Peer -->
<div class="modal fade" id="addPeerModal" tabindex="-1" role="dialog" aria-labelledby="addPeerModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addPeerModalLabel">Add New Peer</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form th:method="POST" th:action="@{/peers/add}">
                    <div class="form-group">
                        <label for="newNickname">Nickname:</label>
                        <input type="text" class="form-control" id="newNickname" name="newNickname">
                    </div>
                    <div class="form-group">
                        <label for="newBirthday">Birthday:</label>
                        <input type="date" class="form-control" id="newBirthday" name="newBirthday">
                    </div>
                    <button type="submit" class="btn btn-primary">Add Peer</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Модальное окно для обновления -->
<div class="modal fade" id="updateModal+${peer.id}" tabindex="-1" role="dialog"
     aria-labelledby="updateModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updateModalLabel">Update Peer</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form th:method="POST" th:action="@{/peers/update}" id="updateForm">
                    <input type="hidden" name="id" id="updatedId"/>
                    <div class="form-group">
                        <label for="updatedNickname">Nickname:</label>
                        <input type="text" class="form-control" id="updatedNickname" name="updatedNickname">
                    </div>
                    <div class="form-group">
                        <label for="updatedBirthday">Birthday:</label>
                        <input type="date" class="form-control" id="updatedBirthday" name="updatedBirthday">
                    </div>
                    <button type="submit" class="btn btn-primary">Update</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>

